<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

body{
	margin: 0;
		font-family: Helvetica, Arial, sans-serif, serif;
		background-color: #FFF2E6;
}

header{
	background-color: #FFEDCF;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

header h1{
	color: white;
}

header img{
	border-radius: 150px;
	width: 400;
	border: 5px solid; #FF0000;
}

main{
	background-color: #FFF2E6;
	max-width: 1300px;
	margin: 0;
	padding-left: 120px;
	padding-top: 0px;
	padding-bottom: 30px;
	padding-right: 120px;
	text-align: center;

}

footer{
	text-align: center;
	background-color: #FFEDCF;
	padding-bottom: 30px;
	padding-top: 30px;
}
